name: Package and Publish Helm chart

on:
  workflow_call:
    inputs:
      helm_chart_directory:
        required: true
        type: string
      helm_package_build_artifact_name:
        required: true
        type: string
    outputs:
      helm_package_filename:
        description: "The filename of the packaged Helm chart"
        value: ${{ jobs.package_and_publish_helm_chart_job.outputs.helm_package_filename }}
      helm_package_major_version:
        description: "The major version of the packaged Helm chart"
        value: ${{ jobs.package_and_publish_helm_chart_job.outputs.helm_package_major_version }}
      helm_package_minor_version:
        description: "The minor version of the packaged Helm chart"
        value: ${{ jobs.package_and_publish_helm_chart_job.outputs.helm_package_minor_version }}
      helm_package_version:
        description: "The version of the packaged Helm chart"
        value: ${{ jobs.package_and_publish_helm_chart_job.outputs.helm_package_version }}
    secrets:
      artifactory_user:
        required: true
      artifactory_token:
        required: true

jobs:
  package_and_publish_helm_chart_job:
    name: Package and Publish Helm chart
    runs-on: ubuntu-latest
    env:
      ARTIFACTORY_USER: ${{ secrets.artifactory_user }}
      ARTIFACTORY_TOKEN: ${{ secrets.artifactory_token }}
    outputs:
      helm_package_filename: ${{ steps.package_helm_chart_step.outputs.helm_package_filename }}
      helm_package_version: ${{ steps.package_helm_chart_step.outputs.helm_package_version }}
      helm_package_major_version: ${{ steps.package_helm_chart_step.outputs.helm_package_major_version }}
      helm_package_minor_version: ${{ steps.package_helm_chart_step.outputs.helm_package_minor_version }}
    steps:
    - uses: actions/checkout@v2
    - name: Checkout ni/workflows
      uses: actions/checkout@v2
      with:
        repository: ni/workflows
        path: ni/workflows
    - name: Download helm dependencies
      run: helm dependency build ${{ inputs.helm_chart_directory }}
    - name: Lint Helm chart
      run: helm lint ${{ inputs.helm_chart_directory }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install packaging
    - name: Package and publish Helm chart
      id: package_helm_chart_step
      run: python ni/workflows/bin/package-and-publish-helm-chart.py 
                  ${{ inputs.helm_chart_directory }}
                  ${{ runner.temp }}
                  ${{ github.run_number}}.${{ github.run_attempt}}
                  ${{ github.ref != 'refs/heads/master' }}
                  ${{ github.sha }}.${{ github.run_attempt }}
    - name: Upload build artifact - ${{ inputs.helm_package_build_artifact_name }}
      uses: actions/upload-artifact@v3
      with:
        name: ${{ inputs.helm_package_build_artifact_name }}
        path: ${{ steps.package_helm_chart_step.outputs.helm_package_filepath }}
        if-no-files-found: error
    